* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #222;
	color: #d5cdc7;
}

/* nav  */

.nav {
	height: 50px;
	background-color: #333;
	text-align: center;
	line-height: 50px;
	font-size: 0;
}

.nav-item {
	display: inline-block;
}
.nav-item a {
	margin: 0 30px;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	transition: color 0.3s;
	font-size: 16px;
}

.nav-item a:hover {
	color: rgb(255, 72, 0);
}

/* header  */

.header-img {
	position: relative;
	height: 400px;
	background-image: url('../img/mountains-1587287_1920.jpg');
	background-size: cover;
	background-position: bottom;
}

.header-text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	z-index: 5;
	text-shadow: 0 0 5px #000;
}

.header-text h1 {
	font-size: 54px;
	letter-spacing: 2px;
}

.header-text h1 span {
	text-transform: uppercase;
	color: rgb(255, 72, 0);
}

.header-text p {
	font-size: 22px;
}

.header-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(21, 31, 26, 0.5);
}

/* main  */

main {
	width: 1200px;
	margin: 50px auto;
}

main h2 {
	margin-bottom: 30px;
	text-transform: uppercase;
	text-align: center;
}

.about-us-box {
	position: relative;
	margin: 40px 0;
	height: 400px;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
    overflow: hidden;
}

.top {
	background-image: url('../img/buried-3770788_1280.jpg');
}

.middle {
	background-image: url('../img/buried-1230521_1280.jpg');
}

.bottom {
	background-image: url('../img/mountains-6543708_1280.jpg');
}

.about-us-text {
    position: absolute;
    bottom: 20px;
    padding: 20px 40px;
    text-align: center;
}

.about-us-text h3 {
    margin-bottom: 10px;
    font-size: 22px;
}

.about-us-bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 38%;
    background-color: rgba(0, 0, 0, 0.8)
}

/* footer  */

footer {
	height: 80px;
	background-color: #333;
	font-weight: bold;
}

footer a {
	margin: 0 5px;
	padding: 5px;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	transition: color 0.3s;
}

footer a:hover {
	color: rgb(255, 72, 0);
}

footer p {
	line-height: 80px;
	font-size: 16px;
	text-align: center;
	color: #fff;
}
